.CategoryCards{
    height: 250px;
    width: 220px;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.CategoryCards img{
    height: 170px;
    width: 170px;
    margin-bottom: 30px;
   
}
.CategoryCards p{
    font-size: 25px;
    font-weight: bold;
}
*{
    margin: 0px;
    padding: 0px;
}
.clear{
    clear: both;
}
.wrapper{
    width: 1200px;
    margin: 0px auto;
}